name: MarketMind Auto Run

on:
    schedule:
        # 包含了 SGT 8点/12点/午夜，美股盘前/收盘，以及另外14个平均分布的小时（共19次，都在整点执行）
        - cron: "0 0,1,2,3,4,6,8,10,12,14,15,16,17,18,19,20,21,22,23 * * *"
        # 专门针对美股开盘时间 (冬令时 EST 09:30 / SGT 22:30)，这1次在半点执行
        - cron: "30 14 * * *"
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: 检出代码
              uses: actions/checkout@v3

            - name: 设置 Python 环境
              uses: actions/setup-python@v4
              with:
                  python-version: "3.10"

            - name: 安装依赖包
              run: |
                  python -m pip install --upgrade pip
                  pip install -r requirements.txt

            - name: 运行 MarketMind 脚本
              env:
                  GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
                  TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
                  TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
                  FIREBASE_CREDENTIALS: ${{ secrets.FIREBASE_CREDENTIALS }}
              run: python data_fetcher.py
